.header-logo-div {
    background-color: #445D71;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.header-logo {
    height: 8vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}